body {
    display: flex;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

.left-side {
    background-image: url("images/christina-rumpf-eLeVN3Rckj4-unsplash.jpg");
    background-size: cover;
    width: 37%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.photo-attribution {
    color: white;
    justify-item: flex-end;
    font-size: 0.9em;
    text-align: center;
    margin-top: auto;
    padding: 0.25em;
}

.photo-attribution>a {
    color: white;
}

.right-side {
    width: 63%;
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 245, 248)
}

.logo-container {
    background: rgb(0, 0, 0, 0.6);
    height: auto;
    margin-top: 15%;
}

#logo-img {
    display: block;
    width: 80%;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-size: 1.3em;
    background-color: rgb(248, 245, 248);
    padding: 2.5rem;
    letter-spacing: 0.03em;
    font-weight: 500;
}

.submit-and-footer {
    font-size: 0.85em;
    padding: 2.5rem;
    background-color: rgb(248, 245, 248);

}

.header p {
    width: 80%;
}

.form-container {
    background-color: rgb(255, 255, 255);
    padding-left: 2.5rem;
    padding-top: 1rem;
    border: .5px solid rgb(218, 209, 209);
    border-radius: 0.5em;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.075);
    position: relative;
    z-index: 3;
}

.form-container h1 {
    font-size: 1.2em;
    font-weight: 500;
    padding: 0;
    margin: 0;
}


.form-row {
    display: flex;
    gap: 2em;
    margin-top: 1em;
    flex-wrap: wrap;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.33em;
    margin-bottom: 0.5em;
}

.form-container input {
    padding: .5em;
    width: 15em;
    border: 1px solid rgb(218, 209, 209);
    border-radius: .33em;
}

.form-container input:focus {
    outline: none;
    border: 1px solid rgba(24, 108, 197, 1);
    box-shadow: 0 0 5px rgb(24, 108, 197);
}

.form-container label {
    text-transform: uppercase;
    font-size: .8em;
}

.submit-and-footer button {
    width: 13em;
    padding: 0.75em;
    color: white;
    border-radius: .5em;
    background-color: rgb(58, 124, 67);
    margin-bottom: 1rem;
    border: none;
}

.submit-and-footer button:hover {
    box-shadow: 0 0 2px black;
}

input[type="tel"]:invalid {
    border: 2px solid red;
}

input[type="email"]:invalid:not(:placeholder-shown) {
    border: 2px solid red;
}

.error {
    border: 2px solid red;
}